catboost==1.2.7
fpdf==1.7.2
matplotlib==3.10.1
nbimporter==0.3.4
numpy==2.2.3
pandas==2.2.3
Pillow==11.1.0
plotly==6.0.0
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
sentence_transformers==3.4.1
shap==0.47.0
spacy==3.8.4
streamlit==1.43.1
torch==2.4.1+cu121
tqdm==4.66.5
transformers==4.49.0
xgboost==2.1.4
